<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{% for p in box %}
		<div style="border: double black; width: 50%; margin: 20px;" class="article-panel">
			
		
			<h2>{{p.name}}</h2>
            <p>Участники:</p>
            {% for parts in p.users.all %}
                <li>{{parts}}</li>
            {% endfor %}
            <br><br><br>
            {% for u in p.tasks.all %}
            <li>{{u}}</li> <a href="{% url 'detask' boxid=p.pk taskid=u.pk %}">Удалить задачу</a><br>
            {% endfor %}
            <br>
            <form action="{% url 'cretbox' boxid=p.pk %}" method="get">
            {% for task in view.get_tasks %}
            <li>
                <input type="checkbox" name="tasking" class="role_class" value="{{ task.id }}">
                <span>{{ task.name }}</span>
            </li>
            {% endfor %}

            <button type="submit">Добавить задачи</a>
        </form>
            <br>
            <br>
            
            <a href="{% url 'debox' boxid=p.id %}">Удалить бокс</a>
            
			<div class="clear"></div></div>
	{% endfor %}
    <br><br>
    <a href="{% url 'crebox' %}">Создать бокс</a>
</body>
</html>