{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static '../css/losi.css' %}">
  <title>delegate</title>
</head>

<body>

  <div class="auth-container">
    <div class="auth-box">
      <div class="auth-header">
        <h2>delegate</h2>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="auth-form-group">
         {{ form.as_p }}
          <div class="auth-form-group">
          <input type="submit" value="delegate">
        </div>
       </div>
      </form>
    </div>
  </div>

</body>

</html>">
        </div>
       </div>
      </form>
    </div>
  </div>

</body>

</html>