<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{% for p in posts %}
		<li><div class="article-panel">
			<hr>
			<p class="last">Дата создания: {{ p.id_task.date_start|date:"d-m-Y"}}</p>
		</div>

			<h2>{{p.id_task}}</h2>
            {% autoescape on %}
            {{ p.id_task.desk|linebreaks|truncatewords:10 }}
			{{ p.id_user.username|linebreaks|truncatewords:10 }}
			{{ p.id_role.name_role|linebreaks|truncatewords:10 }}

            {% endautoescape %}
			</li>
	{% endfor %}
</body>
</html>