{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'task/css/task_page.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
	<div class="box">
		<h1>{{post.name}}</h1>
		<hr>
		<p>Описание: {{post.desk}}</p>
		<p>Дата начала: {{post.date_start}}</p>
		<p>Количество дней на выполнение: {{post.date_duration}}</p>
		<p>Дата окончания: {{post.date_end}}</p>
		<hr>
		
		{% if not users %}
			<p>Ответсвенного нет </p>	

		{% else %}
			<p>Ответсвенный - Роль </p>
			{% for user in users %}
				<p>{{user.id_user}} - {{user.id_role}}</p>
			{% endfor %}
		{% endif %}
		</div>
</body>
</html>